.flex-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.menu {
  flex-basis: 95px;
  height: 100vh;
  background-color: rgb(0,33,55);
}

.menu li {
  height: 70px;
  justify-content: center;
  text-align: center;
}

.nav li:hover {
  background-color: seagreen;
}

.nav a {
  color: white;
  font-size: 8pt;
}

.nav a:hover {
  color: white;
  text-decoration: none;
}

.nav .active {
  background-color: blueviolet;
}

.rightarea {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  min-width: 100%;
  height: 65px;
  background-color: rgb(209,224,237);
}

.content {
  flex-grow: 1;
  background-color: white;
}