$headerHeight : 65px;
$buttonAreaHeight : 50px;

@mixin buttonRadius ($clr, $bgclr, $r) {
    button {
        color: $clr;
        background-color: $bgclr;
        border-radius: $r;
    }
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
  }
 
.menuBlock {
    flex-basis: 95px;
    min-width: 95px;
    display: flex;
    flex-direction: column;
}
.menu {
    flex-grow: 1;
    background-color: rgb(0,33,55);

    li {
        height: 70px;
        justify-content: center;
        text-align: center;

        &:hover {
            background-color: rgb(0,44,73);
        }
    }

    .nav {
        a {
            color: white;
            font-size: 8pt;
            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    
        .active {
            background-color: rgb(0,44,73);
        }
    }

}
  
.rightarea {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}
  
.header {
    min-width: 100%;
    height: $headerHeight;
    background-color: rgb(209,224,237);
}
  
.content {
    //height: 0px;
    flex-grow: 1;
    background-color: white;
}

.search {
    /* padding-left: 8px;
    padding-top: 15px; */
	/* устанавливаем необходимую ширину формы в зависимости от дизайна
	** форма без проблем растягивается */
	width: 35%;
	height: 65px;

	/* кнопку отправки будем позиционировать абсолютно,
	** поэтому необходимо это свойство */
    position: relative;
    
    input {
        /* отключаем бордюры у инпутов */
        border: none;
        /* растягиваем поле ввода на всю ширину формы */
        width: 100%;

        /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
        ** регулируем высоту формы
        ** внутренний отступ справа (37px) делаем больше левого,
        ** т.к. там будет размещена кнопка отправки	*/
        padding: 8px 37px 9px 15px;
        margin-top: 15px;
        margin-left: 20px;

        /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        /* закругляем углы */
        border-radius: 20px;

        background: white;
        font: 13px Tahoma, Arial, sans-serif;
        color: #555;
        outline: none;

        &:focus {
            box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
            background: white;
            color: #333;
        }
    }

    .submit {
        /* позиционируем кнопку абсолютно от правого края формы */
        position: absolute;
        top: 0px;
        right: -30px;
        margin: 0px;
    
        width: 37px;
    
        /* растягиваем кнопку на всю высоту формы */
        height: 100%;
    
        cursor: pointer;
        background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    
        /* добавляем прозрачность кнопке отправки */
        opacity: 0.5;

        &:hover {
            opacity: 0.8;
        }
    }
}

.zayavki-area {
    display: flex;
    flex-flow: row nowrap;

    .column1 {

        flex-grow: 1;

        .button-area {
            height: $buttonAreaHeight;
            padding-top: 12px;
            padding-left: 100px;
            @include buttonRadius(white, blue, 15px);
        }

        .table-area {    
            flex-grow: 1;
            height: calc(#{100vh} - #{$headerHeight} - #{$buttonAreaHeight});
            overflow-y: auto;
        
            th {
                position: sticky;
                top: 0;
            }

            .table {

                border-collapse: collapse;
                width: 100%;
            
                thead {
                    color: rgba(64, 65, 71, 255);
                }
                tbody {
                    color: rgba(82, 84, 96, 221);
                }
            
                th, td {
                    padding: 8px 16px;
                }
            
                th {
                    background: #eee;
                }
            }
        }
    }

    .column2 {
        z-index: 10;
        right: 0;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        div {
            flex-grow: 1;
            background-color: rgb(249,249,250);

            .header {
                height: 60px;
                background-color: rgb(26,72,118);
                color: white;
                padding-top: 20px;
                padding-left: 40px;

                button {
                    float: right;
                    background-color: rgb(26,72,118);
                    color: #fff;
                    border: 0;
                    font-size: 18pt;
                }
            }

            .content {
                margin: 5%;
            }

            .bsave {
                margin: 5%;
                @include buttonRadius(white, blue, 10px);
            }
        }
    }

    .column3 {
        z-index: 10;
        right: 0;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        div {
            flex-grow: 1;
            background-color: rgb(249,249,250);

            $headerEditHeight : 60px;

            .header {
                display: flex;
                flex-flow: row nowrap;
                height: $headerEditHeight;
                background-color: rgb(26,72,118);
                color: white;
                padding-top: 20px;
                padding-left: 40px;

                .id {
                    flex-grow: 1;
                    background-color: rgb(26,72,118);
                }
                .title {
                    flex-grow: 2;
                    background-color: rgb(26,72,118);
                    margin: 0 20px;
                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 300px;
                    }
                }
                button {
                    flex-basis: 20px;
                    background-color: rgb(26,72,118);
                    color: #fff;
                    border: 0;
                    font-size: 18pt;
                }
            }

            .zbody {

                display: flex;
                flex-flow: row nowrap;
                height: calc(#{100vh} - #{$headerHeight} - #{$buttonAreaHeight} - #{$headerEditHeight});
                overflow-y: auto;

                .leftcolumn {
                    margin: 3%;
                    flex-grow: 1;

                    .bsave {
                        margin: 5%;
                        @include buttonRadius(white, blue, 10px);
                    }

                    .comment {
                        margin: 5%;

                        .comment-date {
                            margin-left: 8%;
                        }

                        .comment-body {
                            margin-left: 8%;
                            margin-top: 15px;
                            background-color: rgb(227,233,244);
                        }
                    }

                    textarea {
                        width: 100%;
                    }
                }

                .rightcolumn {
                    flex-basis: 20%;
                    .subitem {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}